/* Import Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Classes utilitaires personnalisées pour les composants complexes */
@layer utilities {
  .bg-hero {
    background-image: url('images/backgroundcard.jpg');
  }
  
  .bg-services {
    background-image: url('images/backgroundcard.jpg');
  }
  
  .bg-service1 {
    background-image: url('images/photo-service-1.png');
  }
  
  .bg-service2 {
    background-image: url('images/photo-service-2.png');
  }
  
  .bg-service3 {
    background-image: url('images/photo-service-3.png');
  }
}
