/* Import Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Classes utilitaires personnalisées pour les composants complexes */
@layer utilities {
  .bg-hero {
    background-image: url('images/backgroundcard.webp');
  }
  
  .bg-services {
    background-image: url('images/backgroundcard.webp');
  }
  
  .bg-why-choose {
    background-image: url('images/backgroundatout.webp');
  }
}
